*{
	text-decoration:none;
}
body{
	margin:0;
	padding:0;
    background-color:#f3f3f3;
}
header{
		background-color:#fff;
		width:100%;
		height:125px;
}
header h1{
		font-style:italic;
		font-size:38px;
		display:block;
		margin:0 auto;
		text-align:center;
        color:green;
		padding:20px 0px;
}
.menu{
	float:right;
}
.menu table tr{
	display:block;
	margin:0 auto;
	width:fit-content;
}
.menu table tr td{
	display:inline-block;
	float:left;
	list-style:none;
}
.menu table tr td a{
	font-family:arial;
	font-size:12px;
	color:#111;
}
 h1{
	 margin-top:30px;
	 font-size:30px;
	 color:#111;
	font-family:arial;
	text-align:center;
	text-transform:uppercase;

}
.data {
	height:330px;
	margin:0 auto;
	text-align:center;
    border: 1px solid;
    width: 350px;
	line-height:40px;
    margin-bottom: 35px;
    margin-top: 35px;
	box-shadow:0 2px 4px rgba(0,0,0,0.6);
	background:#1111;
}
.data form{
	margin-top:30px;
}
input[type="text"]
{
	width:60%;
}
input [type="file"]
{
	color:red;
}
footer{
	width:calc(100% - 80px);
    padding: 40px 40px;
	background-color:#111;
	overflow:hidden;
}
footer ul{
	width:fit-content;
	float:left;
	padding-left:20px;
}
footer ul li {
	display:block;
	list-style:none;
	
}
footer ul li a{
	font-family:catamaran;
     font-size:12px;
     color:#fff;
     line-height:27px;
 }
.footer-links-main{
	display:none;
}
.footer-sm{
	width:60px;
	float:right;
}
.footer-sm  img{
	width:65px;
	margin-bottom:10px;
}
.copyright 
  {
	  float:left;
  }
.copyright 
  p{
   text-align:center; 
   color:#fff;
 }
	
@media only screen and (min-width:1000px)
{
.footer-links-main{
	display:block;
}
footer ul li a{
	font-family:catamaran;
     font-size:20px;
     color:#fff;
     line-height:27px;
}
.copyright 
  p{
	  color:#fff;
	 margin-top:200px;
      text-align:center;
  }
}
